# Variables d’environnement
.env
**/.env
*.env
!.env.example
!**/.env.example

# Environnements virtuels Python
Backend/env/
env/

# Fichiers Python générés
__pycache__/
**/__pycache__/
*.py[cod]

# Cache des tests
.pytest_cache/
**/.pytest_cache/

# Fichiers macOS
.DS_Store